.body{
    margin: auto;
}

 .page_title{
     font-size: 24px;
     color: $defaultWhiteColor;
     margin: 0;
     line-height: 90px;
     height: 90px;
     text-transform: uppercase;
     align-content: center;
     font-family: '$Eurostile';
 }

.developer {
    
    background-color: $defaultBlackColor;
    padding: 30px 0px;
    
   
.myphoto {
    display: flex;
    justify-content: space-between;
    
    .behind {
        width: 310px;
        position: absolute; /* ერთმანეთზე მივამაგრე */
        
    }
    .behind2 {
        width: 300px;
        position: absolute;
        margin-top: 2px;
        border-bottom-left-radius: 53%;
        
    }
    .photo {
        position: absolute;
        width: 300px;
    }
}
}
.my_slogan{
    padding-right: 400px;
    .tagline{
        position: absolute;
        color: $defaultWhiteColor;
        font-size: 70px;
        text-transform: uppercase;
        font-family: '$Eurostile';
        }
    }
.my_pages{
    padding-top: 260px;
    }
// project section //

.webLinks{
    padding-bottom: 90px;
    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    

.portfolio-wrapper{

    display: flex;
    justify-content: space-between; 
    align-items: center;
    a{
        box-shadow: $defaultShadowsColor;
        height: 305px;
    width: 170px;
    
    background-color: $defaultBrownColor;
    border-radius: 2%;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    }
    
  }
  .page_title{
     
    color: $defaultBrownColor;
   
}
  
  .card-img-1{
    height: 200px;
    width: 100%;
    align-items: center;
  }
  .card-text-1{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFF0;
    font-family: '$Eurostile';
    line-height: 30px;
  }
  .status-yes{
    color: #0FEF0F;
  }
  .status-no{
    color: #FE1008;
  }
  .card-description-1{
    text-align: left;
    padding-left: 21px;
    padding-top: 10px;
    color: #FFFFF0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.5;
    font-family: '$Eurostile';
  }
  .card-1:hover{
    opacity: 0.5;
  }
}
  // about me section //
.about{
    padding-bottom: 60px;
    background-color: $defaultBlackColor;
}
.about_me_section{
    background-color: $defaultBlackColor;
    
    .page_title{
        
        color: $defaultWhiteColor;
        
    }
    
    .my_name{
        color: $defaultWhiteColor;

    }
    .resume{
        color: $defaultWhiteColor;
    }
}

.about_me{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    .resume{
        width: 650px;
        font-size: 21px;
        text-indent: 30px;
        text-align: justify;
        line-height: 30px;        
        font-family: '$Eurostile';
    }
    
    .diploma{
        height: 200px;
        transition: 0.8s;
        cursor: pointer;
        &:hover{
            transform: scale(1.6);
        }
    }
}


// contact section //
.contact{
    padding-bottom: 60px;
}
.contact_to_me {

    .page_title{
     
        color: $defaultBrownColor;
       
    }
    .contact_to_me_flex{
        display: flex;
    justify-content: space-between;
    }
    i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(224, 213, 213);
    color: $defaultBrownColor;
    box-shadow: $defaultShadowsColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    }
    i:hover{
        background-color: $defaultBrownColor;
        color: rgb(224, 213, 213);

    }
    p{
        padding-left: 15px;
    }
    .map_block{
        box-shadow: $defaultShadowsColor;
    }
    
}
.phone{
    display: flex;
    align-items: center;
    
}
.mail{
    display: flex;
    padding-top: 15px;
    align-items: center;
    
}
.location{
    display: flex;
    padding-top: 15px;
    align-items: center;
}


