.footer{
    background-color: #1F1F1F;
    width: 100%;
    .footer-wrapper{  
        padding: 20px 0px;      
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}