.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.logo{
    height: 50px;
    
}

.body{
    padding-top: 60px;
}

.fb{
    padding-right: 20px;
    color: $defaultWhiteColor;
        &:hover{
            color: $defaultFBColor;
        }
    }
.insta{
    padding-right: 20px;
    color: $defaultWhiteColor;
        &:hover{
            color: $defaultInstaColor;
        }
    }
.cod{
    padding-right: 20px;
    color: $defaultWhiteColor;
        &:hover{
            color: $defaultCodColor;
        }
    }
.vk{
    color: $defaultWhiteColor;
        &:hover{
            color: $defaultGitColor;
        }
    }

.icons{
    font-size: 30px;
}