$fontsUrl: '../fonts/';
$Eurostile: 'Eurostile';


$defaultBlackColor:#1f1f1f;
$defaultBrownColor:#242020;
$defaultWhiteColor:#FFFFFF;
$defaultFBColor:#4267B2;
$defaultInstaColor: #C13584;
$defaultCodColor: #fcd000;
$defaultGitColor: #4680C2;
$defaultShadowsColor: 0px 0px 9px 1px rgba(48,24,48,1);
